<div class="container education-border clearfix">
    <div class="education education1">
        <h2>My Education</h2>
        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
            <br>
            <br> Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
    </div>
    <div class="education education-oll">
        <div class="education-content">
            <h3>Graphic Design Diploma</h3>
            <p>Reeves College / June 2008 - May 2010</p>
            <div class="education-content-rating">4.0 GPA</div>
            <p class="education-content_item">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
        </div>
        <div class="education-content">
            <h3>CIT Diploma</h3>
            <p>Lethbridge College / June 2006 - May 2008</p>
            <div class="education-content-rating">4.0 GPA</div>
            <p class="education-content_item">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="education education1">
        <h2>Work Experience</h2>
        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
            <br>
            <br> Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
    </div>
    <div class="education education-oll">
        <div class="education-content">
            <h3>Lead WEb Designer</h3>
            <p>ABC Company, Saskatoon / June 2011 - Present</p>
            <div class="education-content-rating">3 Years</div>
            <p class="education-content_item">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
        </div>
        
            <div class=" education-content">
                <h3>Junior Designer</h3>
                <p>XYZ Company, Lethbridge / June 2008 - May 2009</p>
                <div class="education-content-rating ">1 Year</div>
                <p class="education-content_item ">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
            </div>
            <div class="education-content ">
                <h3>Web Developer</h3>
                <p>The Company, Lethbridge / June 2007 - May 2008</p>
                <div class="education-content-rating ">1 Year</div>
                <p class="education-content_item ">Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
            </div>
       
    </div>
</div>
<div class="section section skills-resume">
    <div class="container ">
    <div class="js-slider">
        <div class="js-slider_item">
            <p>
                <i>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</i>
            </p>
            <h4>John Stone</h4>
        </div>
    <div class="js-slider_item">
        <p><i>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</i></p>
        <h4>John Stone 1</h4></div>
    <div class="js-slider_item">
        <p><i>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</i></p>
        <h4>John Stone2</h4></div>
        </div>
    </div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/slick.min.js"></script>

<script>
    $('.js-slider').slick({
  dots: true,
   arrows: false,   
  // infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
</script>

</div>

