<div class="wrap">
    <div class="container-header header clearfix">
        <div class="header_emblem">
            <a href="#">
                <div><img src="../pic/2-layers.png" alt=""></div>
                <span class="header_title"><b>FO<span class="fooert-logo-color"> CAL</b></span></span>
            </a>
        </div>
        <div class="button_container">

            <nav class="header_menu_nav clearfix">
                <a class="header_menu_item" href="#">home</a>
                <a class="header_menu_item" href="#">about me</a>
                <a class="header_menu_item" href="#">Skills</a>
                <a class="header_menu_item" href="#">Resume</a>
                <a class="header_menu_item" href="#">Testimonials</a>
                <a class="header_menu_item" href="#">Portfolio</a>
                <a class="header_menu_item" href="#">Contact Me</a>
            </nav>

            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            
    </div>