<div class="section section-footer">
    <div class="container clearfix">
        <div class="text-block_footer">
            <h2>Contact Me</h2>
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
            <br>
            <p>122 33rd Street East
                <br> Saskatoon, SK
                <br> S7K 1R9</p>
            <br>
            <br>
            <p><b>Email: </b> <a href="mailto:info@focal.com">inf0@focal.com</a></p>
            <p><b>Phone:  </b> <a href="tel:08801731462858">(1 306) 222 23 23</a></p>
        </div>
        <div class="footer-feedback">
            <form>
                <p><b>Name *</b>
                    <br>
                    <input type="text" size="60%">
                </p>
            </form>
            <form>
                <p><b>Email Address *</b>
                    <br>
                    <input type="text" size="60%">
                </p>
            </form>
            <form>
                <p><b>Input feedback:</b></p>
                <p>
                    <textarea rows="10" cols="62%" name="text"></textarea>
                </p>
                <button> Contact Me</button>
            </form>
        </div>
    </div>
    <div class="section section-footer_footer">
        <div class="container clearfix">
            <div class="footer-end">
                <p> Copyright 2014 Focal - Built With Passion</p>
                <nav class="footer-end-soc-icon">
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_tw">
                    </a>
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_f">
                    </a>
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_p">
                    </a>
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_q">
                    </a>
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_b">
                    </a>
                    <a href="#" class="footer-end-soc-icon_element footer-end-soc-icon_element_lin">
                    </a>
                    </ul>
            </div>
        </div>
    </div>
