
<div class="container clearfix">
    <ul class="text-block">
        <li class="text-block-content">
            <h3>Values</h3>
            <p class="text-block-content_item">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
        </li>
        <li class="text-block-content">
            <h3>Goals</h3>
            <p class="text-block-content_item">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
        </li>
        <li class="text-block-content">
            <h3>Hobbies</h3>
            <p class="text-block-content_item">Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
        </li>
    </ul>
</div>
<div class="section section-about-me">
    <figure class="section-about-me_photo-position"> </figure>
    <div class="container">
        <div class="section-about-me_item">
            <h3>About Me</h3>
            <p class="text-block-content_item"> Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
                <br>
                <br>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.</p>
            <ul class="clearfix">
                <li class="section-about-me_list">
                    <img src="../pic/icon.png" class="icon">
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                </li>

                 <li class="section-about-me_list">
                    <img src="../pic/icon-1.png" class="icon">
                    <h3>Online Marketing</h3>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                </li>

                 <li class="section-about-me_list">
                    <img src="../pic/icon-2.png" class="icon">
                    <h3>Graphic Design</h3>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                </li>

                 <li class="section-about-me_list">
                    <img src="../pic/icon-3.png" class="icon">
                    <h3>SEO</h3>
                    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.</p>
                </li>
            </ul>
        </div>
    </div>
</div>