<div class="container clearfix">
    <div class="text-block_skills clearfix">
        <h2>My Skills</h2>
        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. </p>
        <br>
        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.</p>
        <button>Contact Me</button>
    </div>
    <div class="skills-progress clearfix">
        <h3>Photoshop</h3>
        <figure class="progress-bg">
            <figure class="progress-90">90%</figure>
        </figure>
        <!--  <progress value="90" max="100">90%</progress> -->
        <h3>Illustrator</h3>
        <figure class="progress-bg">
            <figure class="progress-80">80%</figure>
        </figure>
        <h3>HTML / CSS</h3>
        <figure class="progress-bg">
            <figure class="progress-90">90%</figure>
        </figure>
        <h3>PHP / MYSQL</h3>
      <figure class="progress-bg">
            <figure class="progress-70">70%</figure>
        </figure>
    </div>
</div>
<div class="section skills-resume">
    <div class="container">
        <h2>Resume</h2>
        <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. </p>
        <button>Download Resume</button>
        <div class="skills-resume_triangle-down"></div>
    </div>
</div>
