
<div class="font-first-pages">
    <div class="font-first-pages-position">
        <h1 class="first-pages">Web & Graphic Designer</h1>
        <br>
        <button>Learn More</button>
    </div>
</div>
<div class="header">
    <div class="container-footer clearfix">
        <a class="header_emblem" href="#">
            <img class="header-logo" src="pic/2-layers.png" alt="">
            <span class="header_title"><b>FO<span class="fooert-logo-color"> CAL</b></span></span>
        </a>
        <label class="menu" for="ch">Menu</label>
        <input type="checkbox" id="ch">
        <nav class="button_container">
            <a class="header_menu_item" href="#">home</a>
            <a class="header_menu_item" href="#">about me</a>
            <a class="header_menu_item" href="#">Skills</a>
            <a class="header_menu_item" href="#">Resume</a>
            <a class="header_menu_item" href="#">Testimonials</a>
            <a class="header_menu_item" href="#">Portfolio</a>
            <a class="header_menu_item" href="#">Contact Me</a>
        </nav>
    </div>
</div>